<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnimeNetflex-Search</title>
    <link rel="stylesheet" href="{{ url_for ('static',filename='css/index.css')}}">
    <script src="index.js"></script>
</head>
<body class="light-mode">
        <div class="top-header">
      <div class="header">
        <div class="right-header">
            <div ><img src="{{ url_for('static', filename='images/banners-img/ChatGPT Image Mar 29, 2026, 02_19_56 AM.png')}}" class="logo"></div>
            <div><p class="name">AnimeNetflex</p></div>
        </div>

        <div class="center-header">
            <div class="search-bar"><input type="text" placeholder="Search" class="search-bar1"></div>
            <div ><p class="search-bar-icon">&#128269;</p></div>
        </div>

        <div class="left-header">
            <div onclick="toggleMode()"><img src="{{ url_for('static', filename='images/banners-img/icons8-settings-50.png')}}" class="setting"></div>
        </div>
        
    </div>  
    </div>

    <div class="top-side-nav">
        <div class="side-nav">
            <a href="{{url_for('home')}}"><img src="{{ url_for('static', filename='images/banners-img/home.png') }}" class="home"></a>
            <a href="{{url_for('search')}}"><img src="{{ url_for('static', filename='images/banners-img/search_3053866.png ') }}" class="search"></a>
            <a href="{{url_for('music')}}"><img src="{{ url_for('static', filename='images/banners-img/icons8-sound-wave-50.png') }}" class="music"></a>
            <a href="{{url_for('reading')}}"><img src="{{ url_for('static', filename='images/banners-img/school_14042400.png') }}" class="manga"></a> 
        </div>
    </div>

    <div class="page">
    <div class="anime-sec1">
        <div ><p class="most-pop">Popular</p></div>
        
        <div class="most-pop-sec">
            <div class="most-pop-sec">

        {% for anime in category_2_list %}

        <div class="animes">

        <img 
            src="{{ url_for('static', filename='images/anime-img/' + anime.image) }}" 
            class="anime-img"><div> 
        <p class="anime-title">
        {{ anime.title }}
        </p>
        </div>

        <div>
            <p class="anime-dil">{{ anime.season }} {{anime.latest_episode}}</p>
            <p class="anime-dil"> {{ anime.rating }} ⭐</p>
        </div>

        </div>

        {% endfor %}

        </div>
        </div>
    </div>

    <div class="anime-sec1">
        <div ><p class="most-pop">Latest</p></div>
        
        <div class="most-pop-sec">
            <div class="most-pop-sec">

        {% for anime in category_1_list %}

        <div class="animes">

        <img 
            src="{{ url_for('static', filename='images/anime-img/' + anime.image) }}" 
            class="anime-img"><div> 
        <p class="anime-title">
        {{ anime.title }}
        </p>
        </div>

        <div>
            <p class="anime-dil">{{ anime.season }} {{anime.latest_episode}}</p>
            <p class="anime-dil"> {{ anime.rating }} ⭐</p>
        </div>

        </div>

        {% endfor %}

        </div>
        </div>
    </div>

    <div class="anime-sec1">
        <div ><p class="most-pop">Movies</p></div>
        
        <div class="most-pop-sec">
            <div class="most-pop-sec">

       {% for anime in category_4_list %}

        <div class="animes">

        <img 
            src="{{ url_for('static', filename='images/anime-img/' + anime.image) }}" 
            class="anime-img"><div> 
        <p class="anime-title">
        {{ anime.title }}
        </p>
        </div>

        <div>
            <p class="anime-dil">{{ anime.season }} {{anime.latest_episode}}</p>
            <p class="anime-dil"> {{ anime.rating }} ⭐</p>
        </div>

        </div>

        {% endfor %}

        </div>
        </div>
    </div>

    <script src="index.js"></script>

    </div>

    

</body>
</html>